@model HueCitApp.ViewModels.NavUserViewModel;

@if (Model.menuinfo.Contains('1'))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Bando">
            <i class="ft-map"></i><span class="menu-title" data-i18n="">Bản đồ du lịch - dịch vụ</span>
        </a>
    </li>
}
@if (Model.menuinfo.Contains('2') || Model.menuinfo.Contains('3') || Model.menuinfo.Contains('4') || Model.menuinfo.Contains('5'))
{
    <li class="nav-item">
        <a href="#">
            <i class="ft-settings"></i><span class="menu-title" data-i18n="">Quản trị</span>
        </a>
        <ul class="menu-content">
            @if (Model.menuinfo.Contains('2'))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="QuanLyTaiKhoan">Quản lý người dùng</a>
                </li>
            }
            @if (Model.menuinfo.Contains('3'))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="QuanLyNhomVaiTro">Quản lý vai trò</a>
                </li>
            }
            @if (Model.menuinfo.Contains('4'))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="QuanLyPhanQuyen">Quản lý phân quyền</a>
                </li>
            }
            @if (Model.menuinfo.Contains('5'))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="QuanLyCauHinh">Cấu hình hệ thống</a>
                </li>
            }
        </ul>
    </li>
}