@{
    ViewData["Title"] = "Home Page";
}

<style>
    #viewDiv {
        padding: 0;
        margin: 0;
        height: calc(100vh - 150px);
        width: 100%;
        float: left
    }
</style>

<div class="map-container">
    <div id="viewDiv"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        require([
            "esri/config",
            "esri/Map",
            "esri/views/MapView",

            "esri/layers/FeatureLayer",
            "esri/layers/MapImageLayer",
            "esri/Basemap",
            "esri/widgets/BasemapGallery",
            "esri/widgets/Expand",
            "esri/widgets/Search",
            "esri/widgets/Locate",
            "esri/Graphic",
            "esri/layers/GraphicsLayer",
            "esri/geometry/Polyline",
            "esri/geometry/SpatialReference"

        ], function (esriConfig, Map, MapView, FeatureLayer, MapImageLayer, Basemap, BasemapGallery, Expand, Search, Locate, Graphic, GraphicsLayer, Polyline, SpatialReference) {
            const mApiKey = 'AAPKf17a300c1b284fca90afee0ecdd6fbdfqxum1STGOMVETG7zr4IxM10ieTxpbtbZGXvDaq01a9c54BH-vHhQY7Zg3WknPs40';
            esriConfig.apiKey = mApiKey;

            let basemap = new Basemap({
                baseLayers: [
                ],
                title: "basemap",
                id: "basemap"
            });
            //const layers = new MapImageLayer({
            //    url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BDHC/HueBDHC/MapServer",
            //});

            const basemapData = [
                {
                    id: "arcgis-streets",
                    text: "Đường phố",
                },
                {
                    id: "arcgis-topographic",
                    text: "Địa hình",
                },
                {
                    id: "satellite",
                    text: "Vệ tinh",
                },
            ]

            //const mLayer = new WMSLayer({
            //    url: 'https://gishue.thuathienhue.gov.vn/server/services/BDHC/HueBDHC/MapServer/WMSServer'
            //})


            const layer_0 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/0",
                id: "00",
                outFields: ["*"],
                popupEnabled: true,
                popupTemplate: {
                    title: 'Thông tin',
                    content: [
                        {
                            "type": "fields",
                            "fieldInfos": [
                                {
                                    "fieldName": "tendoituon",
                                    "label": "Tên",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "diachi",
                                    "label": "Địa chỉ",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "dienthoai",
                                    "label": "Số điện thoại",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "tennguoida",
                                    "label": "Người đại diện",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                }
                            ]
                        }
                    ],
                    actions: [
                        {
                            title: "Chi tiết",
                            id: "routes",
                            className: "test",
                            type: "button",
                        },
                    ],
                },
                spatialReference: new SpatialReference({
                    wkt: 'GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]',
                })
            });
            const layer_1 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/1",
                id: "01",
                outFields: ["*"],
                popupEnabled: true,
                popupTemplate: {
                    title: 'Thông tin',
                    content: [
                        {
                            "type": "fields",
                            "fieldInfos": [
                                {
                                    "fieldName": "tendoituon",
                                    "label": "Tên",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "diachi",
                                    "label": "Địa chỉ",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "dienthoai",
                                    "label": "Số điện thoại",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "tennguoida",
                                    "label": "Người đại diện",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                }
                            ]
                        }
                    ],
                    actions: [
                        {
                            title: "Chi tiết",
                            id: "routes",
                            className: "test",
                            type: "button",
                        },
                    ],
                },
                spatialReference: new SpatialReference({
                    wkt: 'GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]',
                })
            });
            const layer_2 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/2",
                id: "02",
                outFields: ["*"],
                popupEnabled: true,
                popupTemplate: {
                    title: 'Thông tin',
                    content: [
                        {
                            "type": "fields",
                            "fieldInfos": [
                                {
                                    "fieldName": "tendoituon",
                                    "label": "Tên",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "diachi",
                                    "label": "Địa chỉ",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "dienthoai",
                                    "label": "Số điện thoại",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "tennguoida",
                                    "label": "Người đại diện",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                }
                            ]
                        }
                    ],
                    actions: [
                        {
                            title: "Chi tiết",
                            id: "routes",
                            className: "test",
                            type: "button",
                        },
                    ],
                },
                spatialReference: new SpatialReference({
                    wkt: 'GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]',
                })
            });
            const layer_3 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/3",
                id: "03",
                outFields: ["*"],
                popupEnabled: true,
                popupTemplate: {
                    title: 'Thông tin',
                    content: [
                        {
                            "type": "fields",
                            "fieldInfos": [
                                {
                                    "fieldName": "tendoituon",
                                    "label": "Tên",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "diachi",
                                    "label": "Địa chỉ",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "dienthoai",
                                    "label": "Số điện thoại",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                },
                                {
                                    "fieldName": "tennguoida",
                                    "label": "Người đại diện",
                                    "visible": true,
                                    "stringFieldOption": "text-box"
                                }
                            ]
                        }
                    ],
                    actions: [
                        {
                            title: "Chi tiết",
                            id: "routes",
                            className: "test",
                            type: "button",
                        },
                    ],
                },
                spatialReference: new SpatialReference({
                    wkt: 'GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]',
                })
            });

            const map = new Map({
                basemap: 'arcgis-topographic', // Basemap layer service
                layers: [layer_0, layer_1, layer_2, layer_3],
            });

            const graphicsLayer = new GraphicsLayer();
            map.add(graphicsLayer);

            const view = new MapView({
                map: map,
                center: [107.58513469042099, 16.462504990071924], // Longitude, latitude
                zoom: 10, // Zoom level
                container: "viewDiv", // Div element
                //spatialReference: SpatialReference.WGS84
            });

            view.when(() => {
                const searchWidget = new Search({
                    view: view
                });

                // Add the search widget to the top right corner of the view
                view.ui.add(searchWidget, {
                    position: "top-right"
                });

                view.ui.move("zoom", "top-right");

                const basemapGallery = new BasemapGallery({
                    view: view,
                    container: document.createElement("div"),
                    source: [Basemap.fromId("arcgis-streets"), Basemap.fromId("arcgis-topographic"), Basemap.fromId("satellite")] // autocasts to LocalBasemapsSource
                });

                const bgExpand = new Expand({
                    view: view,
                    content: basemapGallery
                });

                view.ui.add(bgExpand, "bottom-left");

                var element = document.createElement("div");
                element.className =
                    "esri-icon-layer-list esri-widget--button esri-widget esri-interactive";
                element.addEventListener("click", function (evt) {
                    console.log('click')
                });
                view.ui.add(element, "top-right");

                const locateBtn = new Locate({
                    view: view
                });

                // Add the locate widget to the top left corner of the view
                //view.ui.add(locateBtn, {
                //    position: "top-left"
                //});

                //locateBtn.locate().then(function (pos) {
                //    console.log(pos)
                //});

                view.popup.on("trigger-action", (evt) => {
                    //console.log(evt);
                    const mPopup = view.popup;
                    //console.log(mPopup.selectedFeature.geometry);
                    const { latitude: mLat, longitude: mLong } = mPopup.selectedFeature.geometry
                    //const selectedFeature =
                    //    mPopup.selectedFeature && mPopup.selectedFeature.isAggregate;

                    //// console.log(view.popup.selectedFeature.getObjectId());
                    //displayFeature(mPopup.selectedFeature);

                    locateBtn.locate().then(function (pos) {
                        const { latitude: curLat, longitude: curLong } = pos.coords
                        fetch(`https://api.openrouteservice.org/v2/directions/driving-car?api_key=5b3ce3597851110001cf624851a99071ab2944ee85a0f5e9f5e40c36&start=${curLong},${curLat}&end=${mLong},${mLat}`)
                            .then(res => {
                                console.log(res)
                                return res.json()
                            })
                            .then(data => {
                                //console.log(data.features[0].geometry.coordinates)
                                const { features } = data;
                                const [resultFeature] = features;
                                const { geometry, properties } = resultFeature;
                                const { segments } = properties;
                                const [segmentResult] = segments
                                const { steps } = segmentResult
                                const { coordinates } = geometry;
                                console.log(steps);

                                const polylineGraphic = new Graphic({
                                    //geometry: {
                                    //    type: "polyline",
                                    //    paths: [...coordinates]
                                    //},
                                    geometry: new Polyline({
                                        hasZ: false,
                                        hasM: true,
                                        paths: [...coordinates],
                                        //spatialReference: SpatialReference.WGS84

                                        spatialReference: new SpatialReference({
                                            wkt: 'GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]]',
                                        })
                                    }),
                                    symbol: {
                                        type: "simple-line",
                                        color: [226, 119, 40], // Orange
                                        width: 3
                                    }
                                });

                                console.log(graphicsLayer.graphics);
                                graphicsLayer.add(polylineGraphic);
                            })
                            .catch(er => {
                                console.log(er)
                            })
                    });
                });
            })


            const data = [
                {
                    id: "0",
                    text: "Tư nhân",
                },
                {
                    id: "1",
                    text: "TNHH 1 TV",
                },
                {
                    id: "2",
                    text: "TNHH 2 TV",
                },
                {
                    id: "3",
                    text: "Cty Cổ Phần",
                },
            ];

            //let tree = new Tree('#map-sidebar', {
            //    data: [{ id: '-1', text: 'Lớp bản đồ', children: data }],
            //    closeDepth: 3,
            //    loaded: function () {
            //        this.values = ['0', '1', '2', '3'];
            //        //console.log(this.selectedNodes);
            //        //console.log(this.values);
            //    },
            //    onChange: function () {
            //        //console.log(this.values);
            //        //console.log(map.layers.items);
            //        map.layers.items.forEach((el, idx) => {
            //            const layerId = el.id;
            //            if (this.values.includes(layerId)) {
            //                el.visible = true;
            //            }
            //            else {
            //                el.visible = false;
            //            }
            //        })
            //    },
            //    onItemClick: function () {
            //        console.log('dkmdkm')
            //    }
            //})
        });
    </script>
}