@{
    ViewData["Title"] = "Home Page";
}

<style>
    #viewDiv {
        padding: 0;
        margin: 0;
        height: calc(100vh - 150px);
        width: 100%;
        float: left
    }
</style>

<div class="map-container">
    <div id="viewDiv"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        require([
            "esri/config",
            "esri/Map",
            "esri/views/MapView",

            "esri/layers/FeatureLayer",
            "esri/layers/MapImageLayer",
            "esri/Basemap",
            "esri/layers/WMSLayer",
            "esri/widgets/BasemapGallery",
            "esri/widgets/Expand"

        ], function (esriConfig, Map, MapView, FeatureLayer, MapImageLayer, Basemap, WMSLayer, BasemapGallery, Expand) {
            const mApiKey = 'AAPKf17a300c1b284fca90afee0ecdd6fbdfqxum1STGOMVETG7zr4IxM10ieTxpbtbZGXvDaq01a9c54BH-vHhQY7Zg3WknPs40';
            esriConfig.apiKey = mApiKey;

            let basemap = new Basemap({
                baseLayers: [
                ],
                title: "basemap",
                id: "basemap"
            });
            const layers = new MapImageLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer",
            });

            const basemapData = [
                {
                    id: "arcgis-streets",
                    text: "Đường phố",
                },
                {
                    id: "arcgis-topographic",
                    text: "Địa hình",
                },
                {
                    id: "satellite",
                    text: "Vệ tinh",
                },
            ]

            //const mLayer = new WMSLayer({
            //    url: 'https://gishue.thuathienhue.gov.vn/server/services/BDHC/HueBDHC/MapServer/WMSServer'
            //})


            const layer_0 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/0",
                id: "0",
                outFields: ["*"]
            });
            const layer_1 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/1",
                id: "1",
                outFields: ["*"],
            });
            const layer_2 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/2",
                id: "2",
                outFields: ["*"],
            });
            const layer_3 = new FeatureLayer({
                url: "https://gishue.thuathienhue.gov.vn/server/rest/services/BanDoDoanhNghiep/DoanhNghiep_ThuaThienHue/FeatureServer/3",
                id: "3",
                outFields: ["*"],
            });

            const map = new Map({
                basemap: 'arcgis-topographic', // Basemap layer service
                layers: [layer_0, layer_1, layer_2, layer_3],
            });
            const view = new MapView({
                map: map,
                center: [107.58513469042099, 16.462504990071924], // Longitude, latitude
                zoom: 10, // Zoom level
                container: "viewDiv" // Div element
            });

            view.when(() => {


                const basemapGallery = new BasemapGallery({
                    view: view,
                    container: document.createElement("div"),
                    source: [Basemap.fromId("arcgis-streets"), Basemap.fromId("arcgis-topographic"), Basemap.fromId("satellite")] // autocasts to LocalBasemapsSource
                });

                const bgExpand = new Expand({
                    view: view,
                    content: basemapGallery
                });

                view.ui.add(bgExpand, "top-right");
            })


            const data = [
                {
                    id: "0",
                    text: "Tư nhân",
                },
                {
                    id: "1",
                    text: "TNHH 1 TV",
                },
                {
                    id: "2",
                    text: "TNHH 2 TV",
                },
                {
                    id: "3",
                    text: "Cty Cổ Phần",
                },
            ];

            let tree = new Tree('#map-sidebar', {
                data: [{ id: '-1', text: 'Lớp bản đồ', children: data }],
                closeDepth: 3,
                loaded: function () {
                    this.values = ['0', '1', '2', '3'];
                    //console.log(this.selectedNodes);
                    //console.log(this.values);
                },
                onChange: function () {
                    //console.log(this.values);
                    //console.log(map.layers.items);
                    map.layers.items.forEach((el, idx) => {
                        const layerId = el.id;
                        if (this.values.includes(layerId)) {
                            el.visible = true;
                        }
                        else {
                            el.visible = false;
                        }
                    })
                },
                onItemClick: function () {
                    console.log('dkmdkm')
                }
            })
        });
    </script>
}