<!-- Stats -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-primary bg-darken-2" style="background-color: #9C4FFF !important">
                        <i class="ft-map font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-primary white media-body" style="background-image: linear-gradient(to right, #9c4fff 0%, #5c299d82 100%">
                        <h5>Điểm du lịch</h5>
                        <h5 class="text-bold-400 mb-0" id="txtDiemDuLich">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-danger bg-darken-2">
                        <i class="icon-user font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-danger white media-body">
                        <h5>Cơ sở lưu trú</h5>
                        <h5 class="text-bold-400 mb-0" id="txtCoSoLuuTru">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-warning bg-darken-2">
                        <i class="icon-basket-loaded font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-warning white media-body">
                        <h5>Địa điểm ăn uống</h5>
                        <h5 class="text-bold-400 mb-0" id="txtDiaDiemAnUong">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-success bg-darken-2">
                        <i class="icon-wallet font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-success white media-body">
                        <h5>Vui chơi giải trí</h5>
                        <h5 class="text-bold-400 mb-0" id="txtVuiChoiGiaiTri">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Stats -->
<!--Product sale & buyers -->
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tổng số phản ánh theo lĩnh vực</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="paSelectYear" disabled>
                            <option value="-1">Tất cả</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="card text-white box-shadow-0 bg-primary">
                                <div class="card-header" style="padding: 10px;">
                                    <h4 class="card-title">Tổng số phản ánh</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body" style=" padding: 10px;">
                                        <span style="font-size: 26px; font-weight: 600" id="tongSoPhanAnh">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white box-shadow-0 bg-success">
                                <div class="card-header" style="padding: 10px;">
                                    <h4 class="card-title">Đã xử lý</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body" style=" padding: 10px;">
                                        <span style="font-size: 26px; font-weight: 600" id="paDaXuLy">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white box-shadow-0 bg-warning">
                                <div class="card-header" style="padding: 10px;">
                                    <h4 class="card-title">Chờ xử lý</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body" style=" padding: 10px;">
                                        <span style="font-size: 26px; font-weight: 600" id="paChoXuLy">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div id="column-chart" style="height: 500px"></div>
                            @*<canvas id="column-chart" height="400"></canvas>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tình hình khách tham quan du lịch</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="basicSelect">
                            <option>Chọn năm</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option selected>2022</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <canvas id="khachthamquan_status" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng khách sạn theo phòng</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="basicSelect">
                            <option>Chọn năm</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option selected>2022</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <canvas id="khachsang_theophong" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng tour du lịch theo loại hình</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="basicSelect">
                            <option>Chọn năm</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option selected>2022</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <canvas id="tour_dulich_theoloaihinh" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Product sale & buyers -->

@section Scripts {

    <script>
        const numberWithCommas = (num) => {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
        }
        $(document).ready(function () {
            const currentYear = (new Date()).getFullYear();
            for (i = 0; i <= 4; i++) {
                document.getElementById('paSelectYear').insertAdjacentHTML('beforeend', `<option value='${currentYear - i}' ${i === 0 ? 'selected' : ''}>${currentYear - i}</option>`)
            }
            document.getElementById('paSelectYear').addEventListener('change', evt => {
                evt.target.disabled = true;
                const selectedValue = evt.target.value;

                fetch(`/api/ThongKe/phananhientruongtong/${selectedValue}`)
                    .then(res => res.json())
                    .then(data => {
                        document.getElementById('tongSoPhanAnh').innerText = numberWithCommas(data.Tong);
                        document.getElementById('paDaXuLy').innerText = numberWithCommas(data.DaXuLy);
                        document.getElementById('paChoXuLy').innerText = numberWithCommas(data.ChuaXuLy);
                        return fetch(`/api/ThongKe/phananhientruong/${selectedValue}`)
                    })
                    .then(res => res.json())
                    .then(data => {
                        mChart.option("dataSource", data);
                        evt.target.disabled = false;
                    })
            })
            const mChart = $('#column-chart').dxChart({
                dataSource: [],
                palette: 'soft',
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'Tong',
                    argumentField: 'LinhVuc',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'LinhVuc',
                },
            }).dxChart("instance");

            fetch(`/api/ThongKe/phananhientruongtong/${currentYear}`)
                .then(res => res.json())
                .then(data => {
                    document.getElementById('tongSoPhanAnh').innerText = numberWithCommas(data.Tong);
                    document.getElementById('paDaXuLy').innerText = numberWithCommas(data.DaXuLy);
                    document.getElementById('paChoXuLy').innerText = numberWithCommas(data.ChuaXuLy);
                    return fetch(`/api/ThongKe/phananhientruong/${currentYear}`)
                })
                .then(res => res.json())
                .then(data => {
                    mChart.option("dataSource", data);
                    document.getElementById('paSelectYear').disabled = false;
                })

            fetch(`/api/ThongKe/linhvuckinhdoanh`)
                .then(res => res.json())
                .then(data => {
                    document.getElementById('txtDiemDuLich').innerText = numberWithCommas(data.DiemDuLich);
                    document.getElementById('txtCoSoLuuTru').innerText = numberWithCommas(data.CoSoLuuTru);
                    document.getElementById('txtDiaDiemAnUong').innerText = numberWithCommas(data.NhaHangDatChuan);
                    document.getElementById('txtVuiChoiGiaiTri').innerText = numberWithCommas(data.KhuVuiChoiGiaiTri);
                })
                .catch(err => {
                    console.log(err);
                })
        });
    </script>
}