<!-- Stats -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-primary bg-darken-2" style="background-color: #9C4FFF !important">
                        <i class="ft-map font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-primary white media-body" style="background-image: linear-gradient(to right, #9c4fff 0%, #5c299d82 100%">
                        <h5>Điểm du lịch</h5>
                        <h5 class="text-bold-400 mb-0" id="txtDiemDuLich">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-danger bg-darken-2">
                        <i class="icon-user font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-danger white media-body">
                        <h5>Cơ sở lưu trú</h5>
                        <h5 class="text-bold-400 mb-0" id="txtCoSoLuuTru">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-warning bg-darken-2">
                        <i class="icon-basket-loaded font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-warning white media-body">
                        <h5>Địa điểm ăn uống</h5>
                        <h5 class="text-bold-400 mb-0" id="txtDiaDiemAnUong">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-success bg-darken-2">
                        <i class="icon-wallet font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-gradient-x-success white media-body">
                        <h5>Vui chơi giải trí</h5>
                        <h5 class="text-bold-400 mb-0" id="txtVuiChoiGiaiTri">
                            0
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Stats -->
<!--Product sale & buyers -->
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tổng số phản ánh theo lĩnh vực</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="paSelectYear" disabled>
                            <option value="-1">Tất cả</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="card text-white box-shadow-0 bg-primary">
                                <div class="card-header" style="padding: 10px;">
                                    <h4 class="card-title">Tổng số phản ánh</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body" style=" padding: 10px;">
                                        <span style="font-size: 26px; font-weight: 600" id="tongSoPhanAnh">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white box-shadow-0 bg-success">
                                <div class="card-header" style="padding: 10px;">
                                    <h4 class="card-title">Đã xử lý</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body" style=" padding: 10px;">
                                        <span style="font-size: 26px; font-weight: 600" id="paDaXuLy">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white box-shadow-0 bg-warning">
                                <div class="card-header" style="padding: 10px;">
                                    <h4 class="card-title">Chờ xử lý</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body" style=" padding: 10px;">
                                        <span style="font-size: 26px; font-weight: 600" id="paChoXuLy">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div id="column-chart" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Biểu đồ chất lượng không khí trong 24h</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="aqi_24h" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Biểu đồ chất lượng không khí trong 30 ngày</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="aqi_30d" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng khách sạn theo loại phòng</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="khachsan_theoloaiphong" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tài nguyên du lịch</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="tainguyen_dulich" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sự kiện văn hóa - lễ hội</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="sukien_vanhoa_lehoi" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Dịch vụ du lịch</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="dich_vu_du_lich" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số Công ty lữ hành</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="congtyluhanh" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng điểm giao dịch</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div id="soluong_diem_giaodich" style="height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng hướng dẫn viên thành thạo các ngôn ngữ</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div id="huongdanvientheosoluongngonngu" style="height: 300px"></div>

                        </div>
                    </div>
                    <div class="row justify-content-center" style="margin-top: 15px">
                        <div class="col-12">
                            <div id="huongdanvien" style="height: 500px"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row match-height">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng khách sạn theo phòng</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="basicSelect">
                            <option>Chọn năm</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option selected>2022</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <canvas id="khachsang_theophong" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Số lượng tour du lịch theo loại hình</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <fieldset class="form-group">
                        <select class="form-control" id="basicSelect">
                            <option>Chọn năm</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option selected>2022</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <canvas id="tour_dulich_theoloaihinh" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!--/ Product sale & buyers -->

@section Scripts {

    <script>
        const numberWithCommas = (num) => {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
        }

        const getRandomColor = () => {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        //const pad = (num, size) => {
        //    num = num.toString()
        //    while (num.length < size) num = '0' + num
        //    return num
        //}

        $(document).ready(function () {
            const currentYear = (new Date()).getFullYear();
            for (i = 0; i <= 4; i++) {
                document.getElementById('paSelectYear').insertAdjacentHTML('beforeend', `<option value='${currentYear - i}' ${i === 0 ? 'selected' : ''}>${currentYear - i}</option>`)
            }
            document.getElementById('paSelectYear').addEventListener('change', evt => {
                evt.target.disabled = true;
                const selectedValue = evt.target.value;

                fetch(`/api/ThongKe/phananhientruongtong/${selectedValue}`)
                    .then(res => res.json())
                    .then(data => {
                        document.getElementById('tongSoPhanAnh').innerText = numberWithCommas(data.Tong);
                        document.getElementById('paDaXuLy').innerText = numberWithCommas(data.DaXuLy);
                        document.getElementById('paChoXuLy').innerText = numberWithCommas(data.ChuaXuLy);
                        return fetch(`/api/ThongKe/phananhientruong/${selectedValue}`)
                    })
                    .then(res => res.json())
                    .then(data => {
                        mChart.option("dataSource", data);
                        evt.target.disabled = false;
                    })
            })
            const mChart = $('#column-chart').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                palette: 'soft',
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'Tong',
                    argumentField: 'LinhVuc',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'LinhVuc',
                },
            }).dxChart("instance");

            const khachsan_theoloaiphong = $('#khachsan_theoloaiphong').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                //legend: {
                //    visible: false,
                //},
                customizePoint() {
                    return { color: getRandomColor() };
                },
                //palette: 'soft',
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'Ten',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'Ten',
                },
            }).dxChart("instance");

            const chartHuongDanVienTheoNgonNgu = $('#huongdanvien').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                //palette: 'Violet',
                palette: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'TenNgoaiNgu',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'TenNgoaiNgu',
                },
            }).dxChart("instance");

            const huongDanVienTheoSoLuongNgonNgu = $('#huongdanvientheosoluongngonngu').dxPieChart({
                type: 'doughnut',
                palette: 'Soft Pastel',
                dataSource: [],
                //title: 'The Population of Continents and Regions',
                tooltip: {
                    enabled: false,
                    format: 'millions',
                    customizeTooltip(arg) {
                        return {
                            text: `${arg.valueText} - ${(arg.percent * 100).toFixed(2)}%`,
                        };
                    },
                },
                legend: {
                    horizontalAlignment: 'right',
                    verticalAlignment: 'top',
                    margin: 0,
                },
                export: {
                    enabled: false,
                },
                series: [{
                    argumentField: 'Name',
                    valueField: 'TongSo',
                    label: {
                        visible: true,
                        //format: 'millions',
                        connector: {
                            visible: true,
                        },
                    },
                }],
                centerTemplate(pieChart, container) {
                    const total = pieChart
                        .getAllSeries()[0]
                        .getVisiblePoints()
                        .reduce((s, p) => s + p.originalValue, 0);
                    const content = $(`<svg><circle cx="100" cy="100" fill="#eee" r="${pieChart.getInnerRadius() - 6}"></circle>`
                        + '<text text-anchor="middle" style="font-size: 18px" x="100" y="120" fill="#494949">'
                        + `<tspan x="100" >Tổng số HDV</tspan>`
                        + `<tspan x="100" dy="20px" style="font-weight: 600">${numberWithCommas(total)
                        }</tspan></text></svg>`);

                    container.appendChild(content.get(0));
                },
            }).dxPieChart("instance");

            const chartTaiNguyenDuLich = $('#tainguyen_dulich').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                //palette: 'Violet',
                palette: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'Ten',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'Ten',
                },
            }).dxChart("instance");

            const chartSuKienVanHoaLeHoi = $('#sukien_vanhoa_lehoi').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                //palette: 'Violet',
                palette: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'Ten',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'Ten',
                },
            }).dxChart("instance");

            const chartDichVuDuLich = $('#dich_vu_du_lich').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                //palette: 'Violet',
                palette: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'Name',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'Name',
                },
            }).dxChart("instance");

            const chartSoLuongDiemGiaoDich = $('#soluong_diem_giaodich').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                //palette: 'Violet',
                palette: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'Ten',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'Ten',
                },
            }).dxChart("instance");

            const chartCongTyLuHanh = $('#congtyluhanh').dxChart({
                dataSource: [],
                customizeLabel() {
                    return {
                        visible: true,
                        backgroundColor: '#ff7c7c',
                        customizeText() {
                            return `${this.valueText}`;
                        },
                    };
                },
                palette: 'Office',
                //palette: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                title: {
                    text: '',
                },
                commonSeriesSettings: {
                    type: 'bar',
                    valueField: 'TongSo',
                    argumentField: 'Ten',
                    ignoreEmptyPoints: true,
                    barPadding: 0.5,
                },
                seriesTemplate: {
                    nameField: 'Ten',
                },
            }).dxChart("instance");

            fetch(`/api/ThongKe/phananhientruongtong/${currentYear}`)
                .then(res => res.json())
                .then(data => {
                    document.getElementById('tongSoPhanAnh').innerText = numberWithCommas(data.Tong);
                    document.getElementById('paDaXuLy').innerText = numberWithCommas(data.DaXuLy);
                    document.getElementById('paChoXuLy').innerText = numberWithCommas(data.ChuaXuLy);
                    return fetch(`/api/ThongKe/phananhientruong/${currentYear}`)
                })
                .then(res => res.json())
                .then(data => {
                    mChart.option("dataSource", data);
                    document.getElementById('paSelectYear').disabled = false;
                })

            fetch(`/api/ThongKe/linhvuckinhdoanh`)
                .then(res => res.json())
                .then(data => {
                    document.getElementById('txtDiemDuLich').innerText = numberWithCommas(data.DiemDuLich);
                    document.getElementById('txtCoSoLuuTru').innerText = numberWithCommas(data.CoSoLuuTru);
                    document.getElementById('txtDiaDiemAnUong').innerText = numberWithCommas(data.NhaHangDatChuan);
                    document.getElementById('txtVuiChoiGiaiTri').innerText = numberWithCommas(data.KhuVuiChoiGiaiTri);
                })
                .catch(err => {
                    console.log(err);
                })

            fetch(`/api/ThongKe/khachsantheoloaiphong`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    console.log(data);
                    khachsan_theoloaiphong.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/ThongKe/soluonghuongdanvientheongonngu`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    chartHuongDanVienTheoNgonNgu.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })


            fetch(`/api/ThongKe/soluonghuongdanvientheosoluongngonngu`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    console.log(data)
                    huongDanVienTheoSoLuongNgonNgu.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/ThongKe/tainguyendulich`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    //console.log(data)
                    chartTaiNguyenDuLich.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/ThongKe/dichvudulich`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    //console.log(data)
                    chartDichVuDuLich.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/ThongKe/lehoi`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    //console.log(data)
                    chartSuKienVanHoaLeHoi.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/ThongKe/soluongdiemgiaodich`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    //console.log(data)
                    chartSoLuongDiemGiaoDich.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/ThongKe/congtyluhanh`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    //console.log(data)
                    chartCongTyLuHanh.option("dataSource", data);
                })
                .catch(err => {
                    console.error(err);
                })

            //aqi_30d

            fetch(`/api/quantracmoitruong/thongkedanhsachtrongngay`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    var dkm = $('#aqi_24h').dxChart({
                        palette: 'Violet',
                        dataSource: data,
                        commonSeriesSettings: {
                            argumentField: 'ThoiGian',
                            type: 'line'
                        },
                        customizeLabel() {
                            return {
                                visible: true,
                                backgroundColor: '#ff7c7c',
                                customizeText() {
                                    return `${this.valueText}`;
                                },
                            };
                        },
                        argumentAxis: {
                            valueMarginsEnabled: false,
                            discreteAxisDivisionMode: 'crossLabels',
                            grid: {
                                visible: true,
                            },
                            label: {
                                overlappingBehavior: "rotate",
                                rotationAngle: 45
                            },
                        },
                        series: [
                            { valueField: 'AQI', name: 'AQI trong 24h' }
                        ],
                        legend: {
                            verticalAlignment: 'bottom',
                            horizontalAlignment: 'center',
                            itemTextPosition: 'bottom',
                        },
                        title: {
                            text: ''
                        },
                        export: {
                            enabled: false,
                        },
                    }).dxChart('instance');
                })
                .catch(err => {
                    console.error(err);
                })

            fetch(`/api/quantracmoitruong/thongkedanhsachtrongthang`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('Proccess Error')
                    }

                    return res.json();
                })
                .then(data => {
                    var dkm = $('#aqi_30d').dxChart({
                        palette: 'Soft Pastel',
                        dataSource: data,
                        commonSeriesSettings: {
                            argumentField: 'ThoiGian',
                            type: 'line'
                        },
                        customizeLabel() {
                            return {
                                visible: true,
                                backgroundColor: '#ff7c7c',
                                customizeText() {
                                    return `${this.valueText}`;
                                },
                            };
                        },
                        argumentAxis: {
                            valueMarginsEnabled: false,
                            discreteAxisDivisionMode: 'crossLabels',
                            grid: {
                                visible: true,
                            },
                            label: {
                                overlappingBehavior: "rotate",
                                rotationAngle: 45
                            },
                        },
                        series: [
                            { valueField: 'AQI', name: 'AQI trong 30 ngày' }
                        ],
                        legend: {
                            verticalAlignment: 'bottom',
                            horizontalAlignment: 'center',
                            itemTextPosition: 'bottom',
                        },
                        title: {
                            text: '',
                            visible: false
                        },
                        export: {
                            enabled: false,
                        },
                    }).dxChart('instance');
                })
                .catch(err => {
                    console.error(err);
                })
        });
    </script>
}