@{
	ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Css {
	<link rel="stylesheet" href="~/css/style.css" />
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <div class="p-1">
                                    <img
                                        src="~/template-asset/app-assets/images/logo/logo_so_du_lich.png"
                                        alt="branding logo"
                                    />
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="flex-column justify-content-center mb-2">@ViewBag.error</div>
                                    <form class="form-horizontal form-simple" method="post" asp-controller="home" asp-action="login">
                                        <fieldset class="form-group position-relative has-icon-left mb-1">
                                            <input
                                                type="text"
                                                   name="username"
                                                class="form-control form-control-lg"
                                                id="user-name"
                                                placeholder="Tài khoản"
                                                required
                                            />
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input
                                                type="password"
                                                   name="password"
                                                class="form-control form-control-lg"
                                                id="user-password"
                                                placeholder="Mật khẩu"
                                                required
                                            />
                                            <div class="form-control-position">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </fieldset>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block m-primary-color">
                                            <i class="ft-unlock"></i> Đăng nhập
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>