@model HueCitApp.ViewModels.SampleComponentViewModel;

<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="Privacy">
        <i class="ft-map"></i><span class="menu-title" data-i18n="">@Model.mgretting</span>
    </a>
</li>