:root {
    --body: #030E37;
    --orange: #F27400;
    --blue: #187EF6;
    --gray: #E3E9F3;
    --white: #ffffff;
    --purple: #4F3BC6;
    --scrollbar-thumb: #BDBDBD;
    --border-light: #E3E9F3;
    --bg-owl: rgba(0, 0, 0, 0.3);
    --text-opacity: rgba(3, 14, 55, 0.4);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    src: local('Roboto-Medium'), url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto-Light'), url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Italic'), url(../fonts/Roboto/Roboto-Italic.ttf) format('truetype');
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: calc(100vh - 150px);
    width: 100%;
    float: left
}

.map-container {
    position: relative;
    overflow: hidden;
}

.map-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    /*background-color: #fff;*/
    z-index: 1;
    /*display: none*/
}

.toggle-display {
    display: none;
}

#filter-slider,
#pa-slider,
#chitiet-slider {
    width: 60%;
    min-width: 300px;
}

#filter-sidebar > div,
#pa-sidebar > div {
    padding-right: 10px;
}

    .m-primary-color {
        border-color: #452994 !important;
        background-color: #5734ba !important;
    }

    .m-primary-color:hover {
        border-color: #452994 !important;
        background-color: #6e42eb !important;
    }

    .m-primary-color:focus {
        border-color: #452994 !important;
        background-color: #6e42eb !important;
    }

.no-label-space {
    margin-top: 0.5rem !important;
}

.form-control:focus {
    border: 1px solid #5734ba !important;
}

.m-custom-group .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.m-custom-group .m-custom-col {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

#result-sidebar,
#filter-sidebar {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

.result-list-item {
    padding: 8px 20px;
    cursor: pointer;
}

    .result-list-item:hover {
        background-color: rgba(236, 236, 236, 0.5);
    }

    .result-list-item h4 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #030E37;
    }

    .result-list-item p {
        margin-bottom: 4px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #030E37;
        opacity: 0.6;
    }

.pa-list-item {
    padding: 8px 20px;
    cursor: pointer;
}

    .pa-list-item:hover {
        background-color: rgba(236, 236, 236, 0.5);
    }

    .pa-list-item h4 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #030E37;
    }

    .pa-list-item p {
        margin-bottom: 4px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #030E37;
        opacity: 0.6;
    }

.treejs-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.btn-filter-group .btn-filter-item {
    margin-bottom: 6px;
}

    .btn-filter-group .btn-filter-item button {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.filter-selector {
    color: #030E37; 
    background-color: #E3E9F3;
}

.filter-selector.selected {
    color: #FFFFFF;
    background-color: #4F3BC6;
}

.router-hd::first-letter {
    text-transform: capitalize;
}

/*SCROLL*/
.map-sidebar .card-body > div {
    scrollbar-width: thin;
    scrollbar-color: rgba(87, 52, 186, 0.8) rgba(10, 62, 209, 0.05);
}

.map-sidebar .card-body {
    padding: 10px !important;
}

.map-sidebar .card-body > div::-webkit-scrollbar {
    width: 8px;
}

.map-sidebar .card-body > div::-webkit-scrollbar-track {
    background: rgba(10, 62, 209, 0.05);
}

    .map-sidebar .card-body > div::-webkit-scrollbar-thumb {
        background: rgba(87, 52, 186, 0.8);
    }

#routerdesc {
    position: absolute;
    top: 245px;
}

    #routerdesc .esri-popup__pointer {
        display: none !important;
    }

/*#detailCont {
    position: absolute;
    top: 245px;
}

    #detailCont .esri-popup__pointer {
        display: none !important;
    }*/

/*SCROLL*/
/*SELECT2*/
.select2-container--classic .select2-results__options .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__options .select2-results__option[aria-selected="true"] {
    background-color: #5734ba !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none !important;
}

    .select2-container--default .select2-search--dropdown .select2-search__field:focus {
        border: 1px solid #5734ba !important;
    }

.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #5734ba !important;
    border-color: #5734ba !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    margin-bottom: 3px;
}

/*SELECT2*/
/*ADMIN*/
.center-align {
    text-align: center;
}

.command-icon {
    font-size: 18px;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #5734ba;
    border-color: #5734ba;
}

.blue-text {
    color: #0263FF;
}

.red-text {
    color: #F2455C
}

.search-group {
    margin-bottom: 8px;
}

.search-group > .form-group {
    margin-bottom: 0;
}

.search-group.button-search {
    display: flex;
    align-items: end;
}

.m-table .selected {
    background-color: #fff !important;
    color: #404E67 !important;
}

/*ADMIN*/

/*LOGIN*/

:root {
    --white: #ffffff;
    --purple: #4F3BC6;
    --border-light: #E3E9F3;
}

.flexbox-container .nav-tabs {
    justify-content: center;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border-bottom: none;
}

.flexbox-container .nav-tabs .nav-link {
    font-size: 16px;
    line-height: 24px;
    color: var(--body);
    position: relative;
    border-radius: 0 !important;
    padding: 0 0 8px 0 !important;
}

.flexbox-container .nav-tabs > .nav-item:not(:last-of-type) {
    margin-right: 24px;
}

.flexbox-container .nav-tabs .nav-link:hover, .flexbox-container  .nav-tabs .nav-link:focus {
    background-color: transparent;
    color: var(--body);
}

.flexbox-container .nav-tabs .nav-link.active,
.flexbox-container .nav-tabs .nav-item.show .nav-link {
    color: var(--purple);
    background-color: transparent;
    border: none;
}

.flexbox-container .nav-tabs .nav-link.active::after,
.flexbox-container .nav-tabs .nav-item.show .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--purple);
}

/*LOGIN*/

/*Minh style*/

.text-orange {
    color: var(--orange) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.info-detail .form-row {
    margin-left: -15px;
    margin-right: -15px;
}

.info-detail .form-row > div {
    padding-left: 15px;
    padding-right: 15px;
}

.info-detail .header-tab .icon.icon-arrow-left {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.info-detail .header-tab .icon.icon-arrow-left::before {
    content: "";
    background-image: url("images/icon_arrow_left.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.info-detail .header-tab {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px 16px 0;
}

.info-detail .header-tab h4.header-title {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: var(--body);
    margin: 0 0 0 8px;
}

.info-detail .nav-info {
    padding: 0 16px;
    margin-bottom: 16px;
}

.info-detail .nav-tabs {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border-bottom: 2px solid var(--border-light);
}

.info-detail .nav-tabs > .nav-item:not(:last-of-type) {
    margin-right: 24px;
}

.info-detail .nav-tabs .nav-link {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: var(--body);
    position: relative;
    border-radius: 0;
    padding: 0 0 8px 0;
}

.info-detail .nav-tabs .nav-link:hover, .info-detail .nav-tabs .nav-link:focus {
    background-color: transparent;
    color: var(--body);
}

.info-detail .nav-tabs .nav-link.active,
.info-detail .nav-tabs .nav-item.show .nav-link {
    color: var(--purple);
    background-color: transparent;
    border: none;
}

.info-detail .nav-tabs .nav-link.active::after,
.info-detail .nav-tabs .nav-item.show .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background-color: var(--purple);
}

.info-detail .owl-theme .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--bg-owl);
    outline: none;
}

.info-detail .form-container {
    max-height: 700px;
    overflow-y: auto;
    scrollbar-color: var(--scrollbar-thumb) var(--white);
    scrollbar-width: thin;
}

.info-detail .form-container::-webkit-scrollbar {
    width: 4px;
    border-radius: 999px;
}

.info-detail .form-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 999px;
}

.info-detail .form-container::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 999px;
}

.info-detail .owl-theme .owl-nav button:hover {
    background-color: var(--bg-owl);
    outline: none;
}

.info-detail .owl-theme .owl-nav .disabled {
    opacity: 0.8;
}

.info-detail .owl-carousel .item img {
    width: 100%;
    height: 460px;
    object-fit: cover;
    object-position: 50% 50%;
}

.info-detail .icon::before {
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 7px auto;
    background-position: center center;
    display: block;
}

.info-detail .icon.icon-prev::before {
    background-image: url("../images/icon-owl.png");
    transform: rotate(180deg);
}

.info-detail .icon.icon-next::before {
    background-image: url("../images/icon-owl.png");
}

.info-detail .owl-theme .owl-nav .owl-prev {
    left: 8px;
}

.info-detail .owl-theme .owl-nav .owl-next {
    right: 8px;
}

.info-detail .owl-theme .owl-nav button span {
    font-size: 28px;
    top: -2px;
}

.info-detail h2.title {
    font-family: "Roboto Medium";
    font-size: 20px;
    line-height: 24px;
    color: var(--body);
}

.info-detail .col-form-label {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 20px;
    color: var(--text-opacity);
    margin-bottom: 4px;
    padding: 0;
}

.info-detail .form-content-detail {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: var(--body);
    margin-bottom: 0;
}

.info-detail .group-email .form-content-detail:not(:last-child)::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--gray);
    margin: 0 16px;
    display: inline-block;
}